$dark: #413e66;
$primary: #1bb1dc;
$secondary: #535074;
$warning: #e98e06;
$info: #3fcdc7;
$danger: #ff689b;
$success: #41cf2e;
$blue: #e1eeff;
$purple: #8660fe;

$facebook: #3b5999;
$twitter: #55acee;
$linked-in: #0077b5;
$instagram: #e4405f;
$whatsapp: #25d366;

$social: (
  facebook: $facebook,
  twitter: $twitter,
  linked-in: $linked-in,
  instagram: $instagram,
  whatsapp: $whatsapp,
);
